.theme-toggle-button {
  background: none;
  border: 1px solid var(--footer-text-color);
  border-radius: 20px;
  cursor: pointer;
  width: 50px;
  height: 26px;
  padding: 2px;
  display: flex;
  align-items: center;
  position: relative;
  transition: border-color 0.3s;
}

.theme-toggle-button:hover {
  border-color: var(--text-color);
}

.theme-toggle-button__icon {
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  transition: transform 0.3s ease-in-out, background-color 0.3s;
}

/* Moon */
.theme-toggle-button.dark .theme-toggle-button__icon {
  transform: translateX(2px);
  background-color: #f1c40f; /* Sun color */
}

/* Sun */
.theme-toggle-button.light .theme-toggle-button__icon {
  transform: translateX(24px);
  background-color: #f39c12; /* Moon color */
}
