.footer {
  padding: 40px 0;
  text-align: center;
  color: var(--footer-text-color);
  border-top: 1px solid var(--footer-border-color);
  margin-top: 50px;
}

.footer__inner {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 0 var(--page-horizontal-padding);
}

.footer__socials {
  margin-bottom: 16px;
}

.footer__socials a {
  color: var(--footer-text-color);
  text-decoration: none;
  margin: 0 10px;
  font-size: 0.95rem;
  font-weight: 500;
  transition: color 0.3s;
}

.footer__socials a:hover {
  color: var(--primary-color);
}

.footer__content p {
  margin: 5px 0;
  font-size: 0.85rem;
}

@media (max-width: 768px) {
  .footer {
    padding: 30px 0;
  }

  .footer__socials a {
    font-size: 0.9rem;
    margin: 0 10px;
  }

  .footer__content p {
    font-size: 0.8rem;
  }
}
